/*GENERALES*/
body{
    font-family: Roboto, Arial, Helvetica;
    color:  #202020;
}
body, h1, h2, h3, figure{
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    /*text-transform: uppercase;*/
    font-size: 30px;
}
h3{
    font-size: 25px;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
}
.margin-border{
    box-sizing: border-box;
    border-left: 20px solid #125a7d;
}
.container-background{
    background-color: #fafafa;
}
.item-background{
    background-color: #fafafa;
}
/*.left-50{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}
.right-50{
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
}*/
.flexbox{
    display: flex;
    flex-wrap: wrap;
}
.box-50{
    flex-shrink: 0;
    width: 50%;
}
.box-49{
    flex-shrink: 0;
    width: 49%;
}
.box-33{
    flex-shrink: 0;
    width: 33.33%;
}
.btn-style{
    border: 0px;
    border-radius: 50px;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    background-color: #58ba50;
}
.section-arrow{
    padding-top: 80px;
    padding-bottom: 50px;
    padding-right: 30px;
    background-color: #fafafa;
    box-sizing: border-box;
    border-left: 20px solid #125a7d;
}
.arrow-icon{
    width: 30px;
    display: inline;
}
.section-title{
    display: inline;
    font-size: 40px;
}
/*HEADAER*/
header{
    background-color: #454746;
    height: 50px;
    padding: 10px 0px;
}
#header-perfil{
    width: 400px;
    float: left;
}
#header-fig{
    width: 50px;
    float: left;
}
#header-logo{
    width: 50px;
}
#header-name{
    width: 250px;
    padding-left: 70px;
    font-size: 30px;
    padding-top: 8px;
    color: #fafafa;
}
#menu{
    float: right;
}
#menu ul{
    list-style-type: none;
    text-align: center;
}
#menu li{
    display: inline;
    text-align: center;
    padding: 10px 25px;
}
#menu li a{
    text-decoration: none;
    color: #fafafa;
}
#menu li button{
    background-color: #58ba50;
    border: 0px;
    border-radius: 50px;
    padding: 10px 25px;
    color: #fafafa;
    margin-top: -10px;
}
/*HERO*/
#hero{
    background-color: #125a7d; /*purpura: #b34d8d*/
    padding-top: 80px;
    padding-bottom: 80px;
}
.hero-description{
    box-sizing: border-box;
    color: #fcfcfc;
}
.hero-fig, .hero-img{
    width: 240px;
}
.hero-img{
    border-radius: 10px;
}
.hero-illustration{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-icon-abilities{
    flex-shrink: 0;
    width: 60px;
    margin: 20px 50px 20px 0px;
}
.hero-abilities{
    box-sizing: border-box;
    color: #fcfcfc;
}
.abilities-icon, .box-icon-abilities{
    width: 50px;
}
.wp-icon{
    background-color: #fcfcfc;
    border-radius: 50px;
}
/*EXPERIENCIA*/
.experience-list{
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px #efefef;
}
.experience-details{
    box-sizing: border-box;
    padding-right: 30px;
}
.experience-fig{
    display: flex;
    text-align: center;
    align-items: center;
}
.experience-img{
    width: 100%;
}
.experience-section{
    padding-bottom: 5px;
}
.experience-section article{
    margin-top: 50px;
}
.experience-section article:first-child{
    margin-top: 0px;
}
.experience-date{
    display: block;
    float: left;
    background-color: #125a7d;
    border: 1px solid #125a7d;
    border-radius: 5px;
    color: #fefefe;
    padding: 10px;
    margin-top: -40px;
    margin-bottom: 0px;
}
.experience-title{
    margin-top: 20px;
}
.details-icon{
    width: 25px;
    color:#125a7d;
}
.description-title{
    margin-bottom: 10px;
}
.description-details{
    margin-top: 0px;
    margin-left: 25px;
}
.experience-btn{
    display: inline-block;
    margin-top: 10px;
}
/*EVENTOS*/
.events-list{
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 2px 2px #efefef;
    margin-right: 10px;
    background-color: #f5f5f5
}
.events-section article:last-child{
    margin-right: 0;
}
.events-date{
    display: block;
    float: left;
    background-color: #125a7d;
    border: 1px solid #125a7d;
    border-radius: 5px;
    color: #fefefe;
    padding: 10px;
    margin-top: -22px;
    margin-bottom: 0px;
    margin-left: 20px;
    position: relative;
}
.events-fig, .events-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.events-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -22px;
}
.event-details{
    margin: 30px 50px;
    margin-top: -60px;
    padding: 30px;
    position: relative;
    background-color: #fafafa;
    display: block;
    text-align: center;
}
.event-btn{
    display: inline-block;
    margin-top: 10px;
}
/*FORMACIÓN*/
.education-section{
    padding-bottom: 60px
}
.formacion-categoria{
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 2px 2px #efefef;
    margin-right: 10px;
    background-color: #fafafa;
}
.education-section .formacion-categoria{
    margin-right: 10px;
}
.education-section div:last-child{
    margin-right: 0;
}
.formacion-tipo{
    text-align: center;
    padding-top: 25px;
}
.education-items{
    padding: 10px 20px;
    height: 130px;
}
.education-date{
    padding: 10px 20px;
    background-color: #125a7d;
    color: #fafafa;
}
/*FOOTER*/
footer{
    background-color: #454746;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    text-align: center;
    color: #fcfcfc;
}
.footer-clm{
    display: inline-block;
    width: 33.33%;
}
.footer-img{
    width: 200px;
}
.social-links i{
    font-size: 35px;
    color: #fafafa;
    margin: 0px 8px;
}
.footer-btn{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*******************RESPONSIVE*******************/
/*@media only screen and (min-width: 1450px) { }*/

@media only screen and (max-width: 1460px) {
    h1{
        font-size: 50px;
    }
}

@media only screen and (max-width: 1280px) {

}  
@media only screen and (max-width: 1225px) {
    h1{
        font-size: 60px;
    }
}  
@media only screen and (max-width: 1200px) {

}  
@media only screen and (max-width: 1060px) {
    #header-perfil{
        width: 250px;
    }
    #hero{
        width: 100%;
    }
    .experience-details{
        width: 100%;
        padding: 0px 20px 40px;
    }
    .experience-fig{
        width: 100%;
    }
    .experience-list{
        padding-bottom: 30px;
    }

}  
@media only screen and (max-width: 1030px) {
    .hero-description, .hero-illustration{
        width: 50%;
    }
    .hero-abilities{
        width: 100%;
        padding-top: 80px;
    }
}  
/*Tablets*/
@media only screen and (max-width: 995px) {
    .box-49{
        width: 100%;
    }
    .events-list{
        margin-bottom: 60px;
    }
    .events-list:last-child{
        margin-bottom: 0px;
    }
    .formacion-categoria{
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 960px) {
    #header-name{
        display: none;
    }
    #header-perfil{
        width: 50px;
    }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 710px) {
    #menu{
        display: none;
    }
    #header-name{
        display: block;
    }
    #header-perfil{
        width: 50px;
    }
}
@media only screen and (max-width: 700px) {
    .box-icon-abilities{
        margin: 20px 25px 20px 0px;
    }
}
@media only screen and (max-width: 650px) {
    .hero-description, .hero-illustration, .hero-abilities{
        width: 90%;
    }
    .hero-abilities{
        padding-top: 0px;
    }
    .hero-illustration{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero-fig{
        padding-right: 20px;
    }
}
/*Celulares*/
@media only screen and (max-width: 570px) {
    .event-details{
        margin: 30px 30px;
        margin-top: -60px;
    }
}
@media only screen and (max-width: 520px) {
    h1{
        font-size: 45px;
    }
}
@media only screen and (max-width: 480px) {
    .hero-description{
        padding-right: 20px;
    }
}
/*iphone 6, plus, nexus*/
@media only screen and (max-width: 420px) {
    .btn-style{
        text-align: center;
    }
    .event-details{
        margin: -60px 20px 20px 20px;
        padding: 15px;
    }
}
@media only screen and (max-width: 390px) {
    h1{
        font-size: 40px;
    }
}
/*galaxy s5*/
@media only screen and (max-width: 350px) {
    #header-name{
        display: none;
    }
}
/*iphone 5*/
@media only screen and (max-width: 320px) {

}